background {
    color: beige;

}
body {
    color: darkslategray;
    background-color: rgb(255, 235, 205, 0.305);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    
}

h1 {
  font-family: customFont, Arial, Helvetica, sans-serif;
  margin-left: 20%;  
}

p {
    margin: 5% 20% 5% 20% ;
    font-family: customFont, Arial, Helvetica, sans-serif;
    font-size:20px ;
}
.kukat{
    margin-left: 15%;
}

#otsikko{
    font-family: customFont, Arial, Helvetica, sans-serif;
     margin-left: 20%;
}

#kuva {
    margin-left: 15%;
}
/*kuvat liikkuvat laitteen mukaan prosentteina*/

#nappula {
    color: rgb(66, 207, 80);
    
}
table {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.kalenteri {
    text-align: center;
}
.nappulat {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 40px;
}
.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9, .b10, .b11, .b12, .b13 {
    flex-wrap: wrap;
    font-size: 10px;
    align-content: center;
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid;
    border-color: hsl(352, 86%, 84%);
    width: 100px;
    height: 40px;
    background-color: hsl(352, 100%, 93%);
    color: #000000;
    font-family: "";
    font-weight: 600;
    margin: 5px auto;
    
}
.b1:hover, .b2:hover, .b3:hover, .b4:hover, .b5:hover, .b6:hover, .b7:hover, .b8:hover, .b9:hover, .b10:hover, .b11:hover, .b12:hover, .b13:hover{
    background-color: hsl(352, 86%, 84%);
    opacity: 0.9;
    color:#fafafa;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
     0 17px 50px 0 rgba(0,0,0,0.19);
}

@font-face{
    font-family:customFont; /* fontin nimi*/
    src: url(fontti/BrandenRaulner-L3xJE.otf);   
}

footer{
    clear: both;
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color: rgba(87, 54, 4);
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
