background {
    color: beige;

}
body {
    color: darkslategray;
    background-color: rgb(255, 235, 205, 0.305);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

p {
    margin: 5% 20% 5% 20% ;
    font-family: customFont, Arial, Helvetica, sans-serif;
    font-size:20px ;
}

#nappula {
    color: rgb(66, 207, 80);
    
}
table {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.kalenteri {
    text-align: center;
}

@font-face{
    font-family:customFont; /* fontin nimi*/
    src: url(../fontti/BrandenRaulner-L3xJE.otf);   
}

footer{
    clear: both;
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color: rgba(87, 54, 4);
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
